*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #070F18;
}

body{
    margin-left: 15%;
    margin-right: 15%;
}

.container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

#header{
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-decoration-line: underline;
    margin-top: 40px;
    margin-bottom: 40px;
}

a{
    color: #070F18;
    text-decoration: none;
}

#menu {
    text-align: right;
    margin-top: 49px;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu li {
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

#headerCta{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

#headerCta h1{
    font-weight: 700;
    font-size: 50px;
    color: #000;
}

p{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #575455;
}

.images{
    width: 100%;
}

#headerImg{
    margin-left: 42px;
    text-align: right;
}

.button{
    background-color: #1F7CFF;
    color: #FFF;
    font-weight: 600;
    font-size: 16px;
    padding: 12px;
    border-radius: 50px;
    width: 180px;
    text-align: center;
    line-height: 24px;
    border: none;
    cursor: pointer;
}

.button:hover{
    background-color: #0f4188;
    transform: translateY(-5px);
    transition-duration: 0.7s;

}

#clients{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 70px 0;
}

#clients p{
    font-size: 16px;
    font-weight: 600;
}

.service{
    margin: 50px 0;
}

.textCenter{
    text-align: center;
}

h2.black{
    color: #000;
    font-size: 36px;
    font-weight: 700;
}

h3.red{
    color: #F75C4E;
    font-size: 16px;
    font-weight: 700;
}

h4{
    color: #070F18;
    font-size: 20px;
    font-weight: 600;
}

#contactForm{
    margin: 90px 0px 180px 70px;
}

#contactForm p, #contactForm h2, #contactForm h3 {
    margin-bottom: 30px;
}

#contactForm form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#emailInput{
    width: 406px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F5F6FB;
    border: none;
    padding-left: 30px;
    color: #575455;
    font-size: 16px;
    font-weight: 400;
}

#portfolio{
    margin-bottom: 50px;
}

.projects{
    border: #d8d6d6 1px solid;
    margin: 10px;
    border-radius: 50px;
    margin-bottom: 100px;
}

.projects:hover img{
    transform: scale(1.03);
    filter: hue-rotate(10deg) opacity(0.8);
    transition-duration: 0.5s;
}