*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #070F18;
}

body{
    margin-left: 15%;
    margin-right: 15%;
}

.container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

#header{
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-decoration-line: underline;
    margin-top: 40px;
    margin-bottom: 40px;
}

a{
    color: #070F18;
    text-decoration: none;
}

#menu {
    text-align: right;
    margin-top: 49px;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu li {
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

#headerCta{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

#headerCta h1{
    font-weight: 700;
    font-size: 50px;
    color: #000;
}

p{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #575455;
}


#headerImg{
    width: 100%;
    margin-left: 42px;
    text-align: right;
}

.buttonCta{
    background-color: #1F7CFF;
    color: #FFF;
    font-weight: 600;
    font-size: 16px;
    padding: 12px;
    border-radius: 50px;
    width: 180px;
    text-align: center;
    line-height: 24px;
}

#clients{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 70px 0;
}

#clients p{
    font-size: 16px;
    font-weight: 600;
}

.service{
    margin: 50px 0;
}

.textCenter{
    text-align: center;
}

h2.black{
    color: #000;
    font-size: 36px;
    font-weight: 700;
}

h3.red{
    color: #F75C4E;
    font-size: 16px;
    font-weight: 700;
}

h4{
    color: #070F18;
    font-size: 20px;
    font-weight: 600;
}